.App {
  font-family: sans-serif;
  text-align: center;
}
.indicator {
  display: flex;
  justify-content: center;
}

.indicator p {
  margin-left: 15px;
}

input {
  width: 25vw;
}

.bmi {
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge {
  max-width: fit-content;
  margin-left: 1vw;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  white-space: nowrap;
}
