body {
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 111vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  width: 550px;
  height: 868px;
  display: flex;
  justify-content: center;
}
.card {
  background-color: #23252c;
  width: 317px;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -20px;
}

.avatar {
  width: 317px;
  height: 317px;
  object-fit: cover;
}

.name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 15px;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}

.title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}

.email {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  /* white */

  background: #ffffff;
  /* gray/300 */

  border: 1px solid #d1d5db;
  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

.linkedin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  background: #5093e2;
  width: 115px;
  height: 34px;
  cursor: pointer;

  /* shadow/sm */

  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;

  color: #ffffff;
}

.bio {
  width: 247px;
  height: 201px;
}

.about {
  text-align: left;
}

.about--headline {
  margin-bottom: -12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */
  color: #f5f5f5;
}

.about--text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  /* or 15px */
  color: #dcdcdc;
}

.icons {
  width: 317px;
  height: 64px;
  background-color: #161619;
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

a {
  text-decoration: none;
}
